.v-theme--AQUA_THEME {
    --v-theme-primary: 0, 116, 186;
    --v-theme-secondary: 71, 215, 188;
    --v-theme-lightprimary: 229, 241, 248;
    --v-theme-lightsecondary: 237, 251, 247;
}

.v-theme--PURPLE_THEME {
    --v-theme-primary: 118, 62, 189;
    --v-theme-secondary: 148, 208, 214;
    --v-theme-lightprimary: 242, 236, 249;
    --v-theme-lightsecondary: 237, 248, 250;
}

.v-theme--GREEN_THEME {
    --v-theme-primary: 10, 126, 164;
    --v-theme-secondary: 204, 218, 78;
    --v-theme-lightprimary: 230, 242, 246;
    --v-theme-lightsecondary: 250, 251, 239;
}

.v-theme--RED_THEME {
    --v-theme-primary: 94, 36, 77;
    --v-theme-secondary: 255, 92, 142;
    --v-theme-lightprimary: 239, 228, 235;
    --v-theme-lightsecondary: 255, 245, 242;
}

.v-theme--BLUE_THEME {
    --v-theme-primary: 30, 77, 183;
    --v-theme-secondary: 26, 151, 245;
    --v-theme-lightprimary: 232, 237, 248;
    --v-theme-lightsecondary: 232, 244, 254;
}